.button {
  width: 100%;
  height: 56px;

  border: none;
  border-radius: 8px;

  font-family: "Poppins", sans-serif;

  background-color: $c-blue;
  color: #fff;

  cursor: pointer;

  @include tablet {
    width: 264px;
  }
}
