.expertise {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 280px;

  @include tablet {
    width: 362px;
  }

  @include desktop {
    width: 214px;
  }

  @include desktopBiggest {
    width: 264px;
  }

  &__img {
    border-radius: 16px;
  }

  &__title {
    margin-top: 32px;

    @include fontParams(20px, 140%, 600);
    color: $c-blueDark;

    text-align: center;

    @include desktop {
      margin-top: 40px;
    }
  }

  &__description {
    margin-top: 16px;

    @include fontParams(14px, 150%);
    color: $c-grey;

    text-align: center;
  }
}
