.footer {
  background-color: $c-black;

  padding: 72px $padding 80px;

  @include tablet {
    padding: 180px $paddingTablet 80px;
  }

  @include desktop {
    padding-left: $paddingDesktop;
    padding-right: $paddingDesktop;
  }

  @include desktopBiggest {
    padding-left: $paddingDesktopBiggest;
    padding-right: $paddingDesktopBiggest;
  }

  &__sections {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
    }

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
    }
  }

  &__controls {
    margin-top: 80px;

    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
