.header {
  position: relative;

  padding: 21px $padding 0;

  @include tablet {
    // padding-left: $paddingTablet;
    // padding-right: $paddingTablet;

    padding: 21px $paddingTablet 0;
  }

  @include desktop {
    // padding-left: $paddingDesktop;
    // padding-right: $paddingDesktop;

    padding: 21px $paddingDesktop 0;
  }

  @include desktopBiggest {
    // padding-left: $paddingDesktopBiggest;
    // padding-right: $paddingDesktopBiggest;

    padding: 21px $paddingDesktopBiggest 0;

    // margin: 0 auto;
  }

  background: $c-black;

  &__wrapper {
    padding-left: $padding;
    padding-right: $padding;

    @include limitContentWidth;

    // @include tablet {
    //   padding-left: $paddingTablet;
    //   padding-right: $paddingTablet;
    // }

    // @include desktop {
    //   padding-left: $paddingDesktop;
    //   padding-right: $paddingDesktop;
    // }

    // @include desktopBiggest {
    //   padding-left: $paddingDesktopBiggest;
    //   padding-right: $paddingDesktopBiggest;

    //   margin: 0 auto;
    // }

    display: flex;
    flex-direction: column;
  }

  &__content {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      padding-right: $paddingDesktop;
    }

    @include desktopBiggest {
      padding-right: $paddingDesktopBiggest;
    }

    &--icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
    }

    &--link {
      position: relative;

      padding-bottom: 8px;

      font-family: "Poppins", sans-serif;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;

      &::after {
        content: "";
        position: absolute;

        left: 0;
        bottom: 0;

        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: $c-blue;
      }
    }
  }

  &__text {
    margin-top: 48px;

    @include tablet {
      margin-top: 56px;
    }

    @include desktop {
      margin-top: 164px;
    }

    &--title {
      letter-spacing: -2px;

      color: #fff;
    }

    &--caption {
      margin-top: 32px;
      @include fontParams(18px, 150%);

      color: #fff;

      @include tablet {
        margin-top: 24px;

        width: 362px;
      }

      @include tablet {
        margin-top: 32px;
      }
    }
  }

  &__button {
    margin-top: 72px;

    @include tablet {
      margin-top: 56px;

      width: 264px;
    }

    @include desktop {
      margin-top: 83px;
    }
  }

  &__slider {
    margin-top: 48px;

    @include tablet {
      margin-top: 148px;
    }

    @include desktop {
      display: none;
    }

    &--desktop {
      margin-top: 48px;
    }
  }
}
