.message {
  @include tablet {
    grid-column: 1 / 5;
  }

  @include desktop {
    grid-column: 1 / 6;
  }

  &__wrapper {
    @include limitContentWidth;
  }

  &__title {
    line-height: 130%;

    color: #fff;

    @include tablet {
      line-height: 150%;
    }
  }

  &__form {
    margin-top: 48px;
  }
}
