.our-expertise {
  padding: 72px $padding;

  @include tablet {
    padding: 128px $paddingTablet;
  }

  @include desktop {
    padding: 128px $paddingDesktop 134px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include limitContentWidth;
  }

  &__title {
    @include fontParams(44px, 120%, 600);

    @include tablet {
      @include fontParams(52px, 150%, 600);
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 56px;

    margin-top: 56px;

    @include tablet {
      margin-top: 64px;
      row-gap: 72px;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 137px;
    }

    @include desktopBiggest {
      column-gap: 177px;
    }
  }
}
