.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 42px 32px;

  border-radius: 16px;

  background-color: #fff;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);

  &__image {
    margin-top: 75px;
    width: 110px;
    height: 110px;

    border-radius: 50%;

    @include tablet {
      width: 140px;
      height: 140px;
    }

    @include desktop {
      width: 110px;
      height: 110px;
    }

    @include desktopBiggest {
      width: 140px;
      height: 140px;
    }
  }

  &__quote-icon {
    margin-top: 70px;

    @include tablet {
      margin-top: 79px;
    }

    @include desktop {
      margin-top: 70px;
    }

    @include desktopBiggest {
      margin-top: 82px;
    }
  }

  &__quote {
    margin-top: 10px;

    @include fontParams(13px, 150%, 600);
    color: $c-grey;

    text-align: center;

    @include tablet {
      margin-top: 18px;
    }
  }

  &__name {
    margin-top: 16px;

    @include fontParams(13px, 150%, 600);
    color: $c-blueDark;

    text-align: center;
  }

  &__organization {
    margin-top: 4px;

    @include fontParams(13px, 20px, 700);
    color: $c-greyLight;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
