h1 {
  font-family: "Poppins", sans-serif;
  @include fontParams(52px, 120%, 600);

  @include tablet {
    @include fontParams(64px, 68px, 600);
  }
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  font-family: "Open Sans", sans-serif;
}
