@import "utils";
@import "fonts";
@import "typography";
@import "normalize";
@import "reset";

@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/logo.scss";
@import "./blocks/button.scss";
@import "./blocks/slider.scss";
@import "./blocks/who-we-are.scss";
@import "./blocks/title.scss";
@import "./blocks/our-expertise.scss";
@import "./blocks/expertise.scss";
@import "./blocks/process.scss";
@import "./blocks/subtitle.scss";
@import "./blocks/service.scss";
@import "./blocks/testimonials.scss";
@import "./blocks/testimonial.scss";
@import "./blocks/vision-passion-results.scss";
@import "./blocks/footer.scss";
@import "./blocks/message.scss";
@import "./blocks/form.scss";
@import "./blocks/contact-us.scss";

.page {
  &--with-menu {
    overflow: hidden;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  padding: 21px $padding 0;

  background-color: $c-black;

  transform: translateX(-100%);
  transition: transform $transitionDuration ease-in-out;

  @include tablet {
    padding: 21px $paddingTablet 0;
  }

  &:target {
    transform: translateX(0);
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
