@mixin limitContentWidth() {
  margin: 0 auto;
  max-width: $maxContentWidth;
}

@mixin fontParams($size, $lineHeight, $weight: 400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}
