@mixin fontParams($size, $lineHeight, $weight: 400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

@mixin tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktopBiggest {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin limitContentWidth() {
  margin: 0 auto;
  max-width: $maxContentWidthDesktopBiggest;
}
