$c-black: #2c2c2c;
$c-blue: #2060f6;
$c-blueDark: #253757;
$c-blueForm: #144ed4;
$c-grey: #6c788b;
$c-greyLight: #c0cdd7;
$c-bgc: #f2f6fa;

$maxContentWidth: 280px;
$maxContentWidthTablet: 560px;
$maxContentWidthDesktop: 912px;
$maxContentWidthDesktopBiggest: 1144px;

$padding: 20px;
$paddingTablet: 40px;
$paddingDesktop: 56px;
$paddingDesktopBiggest: 228px;

$transitionDuration: 500ms;
